PROJECT_NAME=movies
ELASTIC_HOST=test_elastic
ELASTIC_PORT=9200
REDIS_HOST=test_redis
REDIS_PORT=6379
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

ELASTIC_INDEX_TO_TEST='movies'
ELASTIC_INDEX_TO_TEST_GENRE='genres'
elastic_host=test_elastic
elastic_port=9200
redis_host=redis
redis_port=6379
redis_password=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

ELASTIC_URL=http://test_elastic:9200
elastic_url=http://test_elastic:9200
SERVICE_URL=http://fastapi-test:9000

